@font-face {
    font-family:UnitedUltra ;
    src: url(../fonts/Decimal-Ultra.otf);
}
@font-face {
    font-family: UnitedSemi;
    src: url(../fonts/Decimal-Semibold.otf);
}
@font-face {
    font-family: MercurySemi;
    src: url(../fonts/Mercury-Semi.woff2);
}
h1 {
    font-family: UnitedUltra;
}
body {
    font-family: UnitedSemi;
    background-color: rgb(11, 37, 88);
    color: white;
    text-align: center;
}
header{
    text-align: center;
    margin: 5%;
}
.social {
    background-color: rgb(11, 37, 88);
    background:rgb(11, 37, 88) !important;
    padding: 0px !important;
}
a {
    color: rgb(11, 37, 88);
    border-color: #ecc781;
    background: #ecc781;
    border-radius: 100px;
    padding: 18px 25px 18.7px ;
    text-align: center;
    text-decoration: none;
    line-height: 90px;
}
.election {
    background-color: white;
    padding: 20px;
    margin: 5%;
}
#a {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
font-size: 20px;
}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;  
    border-collapse: collapse;

  }
  table, th, td{
    border: 1px solid;
  }  
  td {
    font-size: 15px;
    padding: 10px;
}
